Django
psycopg2-binary
gunicorn
ulid-py
qrcode
pillow # QRコード生成用
requests
djangorestframework
djangorestframework_simplejwt
django-debug-toolbar
django-import-export
django-cors-headers
social-auth-app-django
rules

#djangorestframework-api-key
#sqids==0.4.1