Django
psycopg2-binary
gunicorn
ulid-py
requests
djangorestframework
djangorestframework_simplejwt
django-debug-toolbar
django-import-export
social-auth-app-django
rules

#djangorestframework-api-key
#sqids==0.4.1
#ulid-py==1.1.0
#django-cors-headers==4.4.0