Django
psycopg2
gunicorn
djangorestframework
djangorestframework_simplejwt
django-debug-toolbar
django-import-export
requests

#djangorestframework-api-key
#sqids==0.4.1
#ulid-py==1.1.0
#django-cors-headers==4.4.0